{% extends 'index.html' %}

{% block title %}Search Inventory{% endblock %}

{% block content %}
<div class="container">
    <h1>Search</h1>
    <div>
        <form class="inline-form" action="." method="get">
            <input type="text" name="query" id="query" placeholder="Suche">
            <input type="submit" value="Suchen">
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    id
                </th>
                <th>
                    name
                </th>
                <th>
                    description
                </th>
                <th>
                    path
                </th>
            </tr>

            {% for result in results%}
            <tr>
                <td>
                    {{result.id}}
                </td>
                <td>
                    {{result.name}}
                </td>
                <td>
                    {{result.description}}
                </td>
                <td>
                    {{result.path}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}