/* static/styles.css */

:root {
    --background-color: #fff;
    --border-color: #aaa;
    --text-color: #444;

    --clickable-background: #d2e1fe;
    --clickable-text: #000;
    --clickable-hover-backgound: #aec9ff;
    --clickable-hover-text: #000;

    --editable-background: #aab7d1;
    --editable-text: #000;
    --editable-hover-backgound: #6c81b0;
    --editable-hover-text: #000;

    --navbar-background: #ccc;
    --navbar-hover-backgound: #eee;
    --navbar-hover-text: #000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
    

    margin: 0;
    padding: 0;
}

.container {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 50px;
    /* margin: 50px; */

}

.clickable {
    background-color: var(--clickable-background);
    color: var(--clickable-text);
}

.clickable:hover {
    background-color: var(--clickable-hover-backgound);
    color: var(--clickable-hover-text);
}

.editable {
    background-color: var(--editable-background);
    color: var(--editable-text);
}

.editable:hover {
    background-color: var(--editable-hover-backgound);
    color: var(--editable-hover-text);
    cursor: help;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 5px solid;
    padding: 8px;
    text-align: left;
} */

/* .page-form {
    margin-top: 20px;
}

.page-form>label {
    display: block;
    margin-bottom: 5px;
}

.page-form>input,
.page-form>textarea {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: x-large;
}

.page-form>input[type="submit"] {
    background-color: #4caf50;
    margin-top: 10px;
    color: white;
    cursor: pointer;
} */

/* .inline-form {
    padding: 8px;
}

.inline-form>input {
    padding: 8px;
} */


/* .error-message {
    color: red;
    margin-top: 10px;
} */


.navbar {
    overflow: hidden;
    background-color: var(--navbar-background);
    width: 100%;
}

.navbar > a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar > a:hover {
    background-color: var(--navbar-hover-backgound);
    color: var(--navbar-hover-text);
}

.navbar-right {
    float: right;
}


/* .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 1%;
} */



/* a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
} */

.file-browser {
    margin: 0;
    padding: 20px;
}

.top-bar {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.parent-folder-box {
    width: 30%;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 10px; /* Optional, adds a small gap between the two boxes */
}

.current-folder-box {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.child-folders {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.child-folder {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
}


.items table {
    width: 100%;
    border-collapse: collapse;
}

.items th,
.items td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.items th {
    background-color: #838383;
}