{% extends 'base.html' %}

{% block title %}
{% if storage %}{{ storage.name }}{%else%}Overview{%endif%}
{% endblock %}

{% block content %}
<div class="file-browser">
    <div class="top-bar">
        {% if parent %}
        <a href="{{ url_for('site.browse.look', storage_id=parent.id )}}" class="parent-folder-box clickable">{{ parent.name
            }}</a>
        {% elif storage %}
        <a href="{{ url_for('site.browse.index')}}" class="parent-folder-box clickable">Browse</a>
        {%endif%}
        {% if storage %}
        <div class="current-folder-box editable">{{ storage.name }}</div>
        {%endif%}
    </div>

    <div class="child-folders container">
        {% for folder in children %}
        <a href="{{ url_for('site.browse.look', storage_id=folder.id )}}" class="child-folder clickable">{{ folder.name }}</a>
        {% endfor %}
    </div>

    <div class="items">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}

                <tr onclick="window.location='{{ url_for('site.item.showItem', itemID=item.id )}}';">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                </tr>

                {% endfor %}
                {% if not items %}
                <tr>
                    <td colspan="2" style="text-align: center;">
                        Keine Items
                    </td>
                </tr>
                {%endif%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}