{% extends 'base.html' %}

{% block title %}Storage{% endblock %}

{% block navbar %}
<a href="{{ url_for('site.storage.create' , storageID=parent.id) }}">Create New</a>
{% endblock %}

{% block content %}
<div>
    <div>
        <h1>{{ parent.name }} {{ parent.id }}</h1>
        
    </div>
    <div>
        <h1>Children:</h1>
        <div>
            {% for storage in children%}
            <a href="{{ url_for('site.storage.showID', storageID=storage.id) }}">
                <div class="clickable-div">
                        <div>
                            <h1>
                                {{ storage.name }} {{ storage.id }}
                            </h1>
                        </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}